.paste-cards a:hover{
    color:black;
    text-decoration:none;
}
.paste-cards{
    margin-bottom:20px;
    padding:50px 0px;
    
}
.paste-cards .row{
    margin-top:20px;
}
.paste-cards a{
    color: black;
}
.paste-cards .card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.paste-cards .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
.paste-cards .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.paste-cards .card h4{
    margin:20px;
}
.paste-cards .card p{
    margin:20px;
    opacity: 0.65;
}



@media (max-width: 768px)   {

    .paste-cards .col-lg-4 {
        margin-top: 20px;
    }
}